%ul
	%li
		%h2 
			meet the local actors / 
			%span publishers
		%p 
			We all know where the need is. We look for opportunity to be of use and there is no better way than help locally.
			
%ul.publisher-list
	%li.publisher
		%a{href: '/project_update.html'}
			= image_tag "publisher_placeholder2.png"
			%span Philipp Mainard
	%li.publisher
		%a{href: '/project_update.html'}
			= image_tag "publisher_placeholder2.png"
			%span Katja Seizinger
	%li.publisher.right
		%a{href: '/project_update.html'}
			= image_tag "publisher_placeholder2.png"
			%span Hanna Nicole Jackmann
	%li.publisher
		%a{href: '/project_update.html'}
			= image_tag "publisher_placeholder2.png"
			%span Katja Seizinger
	%li.publisher
		%a{href: '/project_update.html'}
			= image_tag "publisher_placeholder2.png"
			%span Hanna Nicole Jackmann
	%li.publisher.right
		%a{href: '/project_update.html'}
			= image_tag "publisher_placeholder2.png"
			%span Philipp Mainard
	%li.publisher
		%a{href: '/project_update.html'}
			= image_tag "publisher_placeholder2.png"
			%span Katja Seizinger
	%li.publisher
		%a{href: '/project_update.html'}
			= image_tag "publisher_placeholder2.png"
			%span Hanna Nicole Jackmann
	%li.publisher.right
		%a{href: '/project_update.html'}
			= image_tag "publisher_placeholder2.png"
			%span Philipp Mainard
	%li.publisher
		%a{href: '/project_update.html'}
			= image_tag "publisher_placeholder2.png"
			%span Katja Seizinger
.clear
%ul
	%li
		%h2 
			last published / 
			%span projects
%hr.spacer-projects
.cover-projects
	%p.info-project-track
		<span class="number">-15</span> days / <span class="number">&#128; 9.752</span> raised of <span class="number">&#128; 15.000</span> pledged / <span class="number">450</span> supporters
	.info-project
		%h1.title
			%a{href: '/project_update.html'}
				South Africa Dryness issue: irrigation system in uganda
		.icon-where
		%h2.subtitle
			South Africa/Uganda	placeholder headline location
		%p.intro
			Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.
	.container-photo
		%img.photo-cover{:alt=>"", :src=>"images/cover_project.png"}
%hr.spacer-projects
.cover-projects
	%p.info-project-track
		<span class="number">-15</span> days / <span class="number">&#128; 9.752</span> raised of <span class="number">&#128; 15.000</span> pledged / <span class="number">450</span> supporters
	.info-project
		%h1.title
			%a{href: '/project_update.html'}
				Short placeholder
		.icon-where
		%h2.subtitle
			South Africa/Uganda
		%p.intro
			Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.
	.container-photo
		%img.photo-cover{:alt=>"", :src=>"images/cover_project2.png"}
%hr.spacer-projects
.cover-projects
	%p.info-project-track
		<span class="number">-15</span> days / <span class="number">&#128; 9.752</span> raised of <span class="number">&#128; 15.000</span> pledged / <span class="number">450</span> supporters
	.info-project
		%h1.title
			%a{href: '/project_update.html'}
				Rosella Lombok pride
		.icon-where
		%h2.subtitle
			South Africa/Uganda	placeholder headline location
		%p.intro
			Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.
	.container-photo
		%img.photo-cover{:alt=>"", :src=>"images/cover_project.png"}


