#sections_accordion
	#mailing-list= partial "partials/mailing-list"  
	#faq= partial "partials/faq"
	#think= partial "partials/think"   
	#submit-project= partial "partials/submit"
	#publish= partial "partials/publish" 