#description= partial "partials/description_project"
#map= partial "partials/map"
#explanation= partial "partials/explanation"
#sections_accordion
	#mailing-list= partial "partials/mailing-list"  
	#faq= partial "partials/faq"
	#think= partial "partials/think"   
	#submit-project= partial "partials/submit"
	#publish= partial "partials/publish"   