#localactors
	%ul
		%li
			%h2 
				meet the local actors / 
				%span publishers
			%p 
				We all know where the need is. We look for opportunity to be of use and there is no better way than help locally.
				
	%ul.publisher-list
		%li.publisher
			%a.red{href: '/project_update.html'}
				= image_tag "publisher_placeholder2.png"
				%span Philipp Mainard
		%li.publisher
			%a.red{href: '/project_update.html'}
				= image_tag "publisher_placeholder2.png"
				%span Katja Seizinger
		%li.publisher.right
			%a.red{href: '/project_update.html'}
				= image_tag "publisher_placeholder2.png"
				%span Hanna Nicole Jackmann
		%li.publisher
			%a.red{href: '/project_update.html'}
				= image_tag "publisher_placeholder2.png"
				%span Katja Seizinger
		%li.publisher
			%a.red{href: '/project_update.html'}
				= image_tag "publisher_placeholder2.png"
				%span Hanna Nicole Jackmann
		%li.publisher.right
			%a.red{href: '/project_update.html'}
				= image_tag "publisher_placeholder2.png"
				%span Philipp Mainard
		%li.publisher
			%a.red{href: '/project_update.html'}
				= image_tag "publisher_placeholder2.png"
				%span Katja Seizinger
		%li.publisher
			%a.red{href: '/project_update.html'}
				= image_tag "publisher_placeholder2.png"
				%span Hanna Nicole Jackmann
		%li.publisher.right
			%a.red{href: '/project_update.html'}
				= image_tag "publisher_placeholder2.png"
				%span Philipp Mainard
		%li.publisher
			%a.red{href: '/project_update.html'}
				= image_tag "publisher_placeholder2.png"
				%span Katja Seizinger
	.clear
	%hr.spacer-localactors
	%ul
		%li
			%h2 
				meet the local actors / 
				%span supporters
			%p 
				Placeholder description paragraph explaining who supporters are and what they do.
				
	%ul.supporter-list
		%li.supporter
			%a.red{href: '/project_update.html'}
				%span Philipp Mainard
		%li.supporter
			%a.red{href: '/project_update.html'}
				= image_tag "publisher_placeholder2.png"
				%span Katja Seizinger
		%li.supporter.right
			%a.green{href: '/project_update.html'}
				%span Hanna Nicole Jackmann
		%li.supporter
			%a.red{href: '/project_update.html'}
				= image_tag "publisher_placeholder2.png"
				%span Katja Seizinger
		%li.supporter
			%a.green{href: '/project_update.html'}
				= image_tag "publisher_placeholder2.png"
				%span Hanna Nicole Jackmann
		%li.supporter.right
			%a.red{href: '/project_update.html'}
				= image_tag "publisher_placeholder2.png"
				%span Philipp Mainard
		%li.supporter
			%a.red{href: '/project_update.html'}
				= image_tag "publisher_placeholder2.png"
				%span Katja Seizinger
		%li.supporter
			%a.purple{href: '/project_update.html'}
				%span Hanna Nicole Jackmann
		%li.supporter.right
			%a.green{href: '/project_update.html'}
				%span Philipp Mainard
		%li.supporter
			%a.red{href: '/project_update.html'}
				= image_tag "publisher_placeholder2.png"
				%span Katja Seizinger
		%li.supporter
			%a.red{href: '/project_update.html'}
				= image_tag "publisher_placeholder2.png"
				%span Katja Seizinger
		%li.supporter.right
			%a.red{href: '/project_update.html'}
				= image_tag "publisher_placeholder2.png"
				%span Philipp Mainard
		%li.supporter
			%a.red{href: '/project_update.html'}
				= image_tag "publisher_placeholder2.png"
				%span Katja Seizinger
		%li.supporter
			%a.red{href: '/project_update.html'}
				%span Katja Seizinger
	.clear
